{% extends "__layout.twig" %}

{% block content %}
    <h1>Editing existing Naruto character</h1>
    <hr>
    
    {% if message %}
    <div class="alert alert-info">
        {{ message }}
        <a href="/characters/{{id}}">Open edited character</a>
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="row g-3">
        <div class="col-4">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="title" value="{{object.title}}">
        </div>
        <div class="col-4">
            <label class="form-label">Short description</label>
            <input type="text" class="form-control" name="description" value="{{object.description}}">
        </div>
        <div class="col-4">
            <label class="form-label">Type</label>
            <select class="form-control" name="type">
                {% for type in types %}
                    <option value="{{object.title}}" {% if type.name == object.type %} selected {% endif %}>
                        {{ type.name|title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <img src="{{object.image}}" style="width: 300px;">
            <br>
            <label for="formFile" class="form-label">Upload image file</label>
            <input class="form-control" type="file" name="image">
          </div>
        <div class="col-12">
            <textarea name="info" placeholder="Full description..." class="form-control" rows="5">{{object.info}}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>

{% endblock %}